.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #40531B;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.app-name {
  color: #FCFCFC;
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
}

.app-name:hover {
  color: #618B4A;
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  margin-right: 20px;
}

.username {
  color: #FCFCFC;
  font-size: 1rem;
  margin-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.profile-icon {
  width: 30px;
  height: auto;
  margin-right: 10px;
}
