.long-card-container {
  position: relative;
  width: 90%;
  margin: 20px;
}

.long-card-shadow {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
  height: 100%;
  background-color: #40531B;
  border-radius: 8px;
}

.long-card {
  position: relative;
  width: 100%;
  background-color: #618B4A;
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  color: #FCFCFC;
  text-align: center;
}
