.course-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #FCFCFC;
  color: black;
}

.course-content {
  text-align: center;
  padding: 20px;
}

.course-header {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.course-blocks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
