.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #FCFCFC;
  }
  
  .profile-card-content {
    display: flex;
    align-items: center;
  }
  
  .profile-card-icon  {
    border: none;
    background-color: transparent;
    width: 30%;
    height: auto;
    margin-right: 20px;
  }
  
  .profile-card-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .card-title {
    color: #FCFCFC;
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  
  .fetch-info-button {
    align-self: flex-start;
    background-color: #FCFCFC;
    color: #40531B;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .fetch-info-button:hover {
    background-color: #e2e8e4;
  }
  
  .user-info p {
    color: #FCFCFC;
    font-size: 1rem;
    margin: 5px 0;
  }
  
  .error-message {
    color: red;
    font-size: 1rem;
  }
  